#header{
    color:white;

   
}

nav{
    background-color:indigo;
    color: white;
}

/* five day card header */
#fiveDayHeader {
    margin-left: 40px;
    margin-top: 10px;
}
/* Overall Container */
.container {
    margin-top: 5px;
}

.button{
background-color: indigo;
}
/* search section styling */
.search-section {
    height: 100%;
}

